In [1]:
import sys
sys.path.append("../src/")

In [2]:
from data.make_dataset import *
from models.classifier import *
from models.predict import *
from visualization.visualize import *

In [3]:
%%time
df = make_train_dataset()

Shape of Feature dataset: (260601, 39)
Shape of Target dataset: (260601, 2)
CPU times: user 466 ms, sys: 80.9 ms, total: 547 ms
Wall time: 546 ms

In [4]:
# Checks whether feature and target dataset contains any NaN's in its rows or columns
df.isnull().any().any()

False

In [5]:
%%time
clf=Classifier(df)

CPU times: user 28.6 s, sys: 2.81 s, total: 31.4 s
Wall time: 28.5 s

In [ ]:
%%time
baseline=clf.create_baseline_model()

IntProgress(value=0, description='Processing: ', max=4)

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,04:57:36
Status,. . . . . . . . . . . . . . . . . .,Finalizing Model
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Empty DataFrame
Columns: [Fold, Accuracy, AUC, Recall, Prec., F1, Kappa, MCC]
Index: []

In [ ]:
%%time
plot_report(baseline)

In [ ]:
plot_confusion_matrix(baseline)

In [ ]:
plot_feature_importance(baseline)

In [ ]:
%%time
tuned_model=clf.create_tuned_model()

In [ ]:
plot_report(tuned_model)

In [ ]:
test_dataset = make_test_dataset()

In [ ]:
%%time
predict_and_store_result(tuned_model, test_dataset)